@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/* All imports should go on top of css */


h1 {
    font-family: "Playfair Display", serif;
    color: rgb(58, 105, 58);
}

/* .CustomeClass*/
.myDivClass {
    height: 50px;
    width: 50px;
    background-color: cornflowerblue;
    border: dotted 2px rgb(255, 187, 0);
    margin-left: 12em;
    padding: 4px;
}